*{
    margin:0;
    padding:0;
    font-family:"Bricolage Grotesque",sans-serif;
}
body{
    background:#05081c;
    color: aliceblue;
}
.container{
    margin:12%;
    width:90%;
    max-width: 700px;
}
.display{
    width:100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    color: aliceblue;
    padding-bottom: 7px;
    font-size: 60px;
}
.display img{
    width:40px;
    cursor:pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 25px;
}
.container button img{
    margin-right: 10px;
    width:28px;
}
.container button{
    border: 0;
    outline:0;
    color:#333;
    background: #019f55;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor:pointer;
}